.main{
    padding:20px;
    .box{
        height: 20px;
        width: 400px;
        color: red;
    }
    .save-btn{
        background-color: forestgreen;
        color:white;
        margin-top: 10px;
    }
}